table {
    color: #000;
    font-size: large;
    border-collapse: collapse;
    font-weight: lighter;
}

td {
    border: 1px solid #000;
    padding:5px;
    background-color: #fff;

}

th{
    border: 1px solid #000;
    padding:5px;
    background-color: #873651;
    color: #fff;

}
span{
    background-color: transparent;
}